* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #050816;
  color: white;
  font-family: "Segoe UI", sans-serif;
}

/* BOOT SCREEN */

.boot-screen {
  width: 100%;
  height: 100vh;

  background: black;
  color: #00ff88;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding-left: 60px;

  font-family: Consolas, monospace;
}

.boot-content {
  font-size: 20px;
  line-height: 1.8;
}

.boot-line {
  min-height: 36px;
  white-space: pre-wrap;
}

.active-line {
  display: flex;
  align-items: center;
}

.cursor {
  margin-left: 4px;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* WELCOME SCREEN */

.welcome-screen {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 28px;

  background:
    radial-gradient(circle at center, rgba(0, 245, 255, 0.08), transparent 35%),
    #050816;
}

.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-name {
  font-size: 4rem;
  letter-spacing: 5px;
  margin-bottom: 15px;
}

.hero-role {
  font-size: 1.3rem;
  font-weight: 300;
  color: #c7c7c7;
}

.enter-button {
  margin-top: 10px;

  padding: 14px 36px;
  border: none;
  border-radius: 8px;

  cursor: pointer;

  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;

  background-color: #00f5ff;
  color: black;

  opacity: 0;
  transform: translateY(20px);

  animation: fadeUp 0.9s ease forwards;
  animation-delay: 1.6s;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.enter-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 245, 255, 0.6);
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* DESKTOP */

.desktop-container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;

  background:
    radial-gradient(circle at center, rgba(0, 245, 255, 0.08), transparent 35%),
    #050816;
}

.monitor {
  width: 90%;
  max-width: 1400px;

  height: 85vh;

  border: 2px solid #00f5ff;
  border-radius: 18px;

  overflow: hidden;

  box-shadow: 0 0 25px rgba(0, 245, 255, 0.3);
  background-color: rgba(5, 8, 22, 0.95);
}

.monitor-header {
  height: 50px;

  background-color: #101827;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-left: 20px;

  border-bottom: 1px solid #00f5ff;

  font-weight: bold;
  letter-spacing: 5px;
  font-size: 2.0rem;
}

.desktop {
  height: calc(100% - 70px);

  padding: 10px 40px;

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  grid-template-rows: repeat(2, 1fr);

  justify-items: left;

  align-items: center;

  align-content: center;
}

.folder {
  width: 220px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: all 0.3s ease;
}

.folder:hover {
  transform: scale(1.08);
}

.folder-icon {
  font-size: 90px;
}

.folder span {
  text-align: center;

  margin-top: 15px;

  font-size: 1.2rem;
  line-height: 1.4;
}